.container{
    display: block;
    border-radius: 20px;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-size: 15px;
}

.cardblock {
    background-color:#cff0fa;
    padding: 20px;

}

li:before {
    content: '✔ ';   
    margin-left: -1.2em;
    margin-right: .100em;
}

ul {
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}

li {
    margin-bottom: 1em;
}

.the-pluses {
    line-height: 25px;
}

#extensions{
    border-bottom: 2px dotted rgb(51, 51, 51); 
    cursor: pointer;
}
.heading {
    background-color:#4d8cf8;
    color:#ffffff;
    padding: 12px 8px 15px 30px;
    font-size: 17px;
}

h2 {
    font-weight: 550;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: #4d8cf8;
}

.pricing {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 500;
    font-stretch: ultra-condensed;
    font-size: 43px;
    letter-spacing: 0.5px;
    margin: auto 2px auto 2px;
}

button:hover {
    color: #ffffff;
    background-color: #194ba2;
}

button {
    border: 1px ;
    border-radius: 45px;
    color: white;
    background-color: #4d8cf8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    width: 160px;
    height: 55px;
    cursor: pointer;
}

.features {
    color: #707373b8;
    font-size: 12px;
}

.highlights {
    border: 8px solid #d2bcbc ;
    border-radius: 20px;
    background-color: #d2bcbc;
    opacity: 70%;
    font-size: 12.5px;
    padding: auto;
    position: relative;
    text-align: center;
    margin-left: 8px;
}