.container{
    border: 1px ;
    border-radius: 15px;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-size: 15px;
    display: inline-block;
    width: 80%;
    margin: 1% 10% ;
    height: 70%;
    overflow: hidden;
}

.cardblock {
    background-color:#cff0fa;
    padding: 30px;

}

li:before {
    content: '✔ ';   
    margin-left: -1.2em;
    margin-right: .100em;
}

ul {
   padding-left: 20px;
   text-indent: 2px;
   list-style: none;
   list-style-position: outside;
}

li {
    margin-bottom: 1em;
}

.the-pluses {
    line-height: 25px;
}

#extensions{
    border-bottom: 2px dotted rgb(51, 51, 51); 
    cursor: pointer;
}
.heading {
    background-color:#4d8cf8;
    color:#ffffff;
    padding: 1px 8px 25px 30px;
    font-size: 17px;
    height: 30px;
}

h2 {
    font-weight: 550;
    font-size: 18px;
}

.extensionslink{
    text-decoration: none;
    color: black;
}

.extensionslink:hover {
    color: #4d8cf8;
}

.pricing {
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 500;
    font-stretch: ultra-condensed;
    font-size: 43px;
    letter-spacing: 0.5px;
    margin: auto 2px auto 2px;
}

.trybutton:hover {
    color: #ffffff;
    background-color: #194ba2;
}

.trybutton {
    border: 1px ;
    border-radius: 45px;
    color: white;
    background-color: #4d8cf8;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    width: 160px;
    height: 55px;
    cursor: pointer;
}

.features {
    color: #707373b8;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.highlights {
    border: 8px solid #d2bcbc ;
    border-radius: 20px;
    background-color: #d2bcbc;
    opacity: 70%;
    font-size: 12.5px;
    padding: auto;
    position: relative;
    text-align: center;
    margin-left: 8px;
}

.collapsible {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 11.5px;
    color: #4d4a4a;
}

.active, .collapsible:hover {
    color: #080909;
}

.content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: "ALL FEATURES \25BC";
    font-size: 11px;
    color: #4d4a4a;
    float: right;
    padding: 0;
}

.active:after {
    content: "HIDE FEATURES \25B2";
}

.learn-more {
    color: #4d8cf8;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 8px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

.learn-more:after {
    content: '\20D7';
    margin: 10px 90px 0px 9px;
    position: relative;
    vertical-align: bottom;
    bottom: -8px;
    right: -7px;
    font-size: x-large;
}

.learn-more:hover {
    color: #194ba2;
}